.login-main {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.login-form {
  border: 1px solid var(--color-input-bg);
}

.login-button{
  background-color:var(--btn-bg, var(--color-main));
  color:var(--color-bg);
}
.login-button:hover {
  /* ホバー時の色（例：背景を白、文字をメイン色にする） */
  background-color: var(--color-bg);
  color: var(--color-main);
  border: 1px solid var(--color-main); /* 枠線をつけてみる */
}
