version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      timezone: "Asia/Tokyo"
      time: "08:00"
    open-pull-requests-limit: 10
    target-branch: "develop"
