.resiter-btn{
    width: 20%;
    font-size: var(--page-padding-lg);
    height: 3.5rem;
}
/* モーダル */
.upload-modal{
    background-color: rgba(0, 0, 0, 0.4);
}
.upload-preview{
    background-color: var(--color-main);
    cursor: pointer;
}
.upload-preview span{
    color: var(--color-bg);
}
.close-btn{
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: none;
    font-size: var(--font-size-h1);
}
