.status-badge {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  width: fit-content;
}

.apply {
  color: #48885a;
  background-color: var(--color-admin-active-background);
  border-radius: var(--control-radius);
  font-weight: bold;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.not-apply {
  color: #828848;
  background-color: var(--color-admin-disable-background);
  border-radius: var(--control-radius);
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}
.remove-btn,
.back-btn,
.apply-btn,
.applyend-btn {
  font-size: var(--font-size-h1);
  box-shadow: none;
}
.remove-btn {
    background-color: var(--color-warning);
    color: var(--color-bg);
    border: 1px solid var(--color-warning);
}
.remove-btn:hover {
    border: 1px solid var(--color-warning);
    background-color: var(--color-bg);
    color: var(--color-warning);
}
.back-btn {
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
}
.back-btn:hover {
    border: 1px solid var(--color-text);
    background-color: var(--color-text);
    color: var(--color-bg);
}
.apply-btn{
    color: var(--color-bg);
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
}
.apply-btn:hover{
    border: 1px solid var(--color-main);
    background-color: var(--color-bg);
    color: var(--color-main);
}
.applyend-btn{
    color: var(--color-text);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
}
.applyend-btn:hover{
    border: 1px solid var(--color-accent);
    background-color: var(--color-bg);
    color: var(--color-accent);
}
/* モーダル */
.term-apply-confirm-modal{
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-btn-common {
  box-shadow: none;
  width: 10rem;
  font-size: 1rem;
}
.backmodal-btn {
    color: var(--color-text);
    background-color: var(--color-bg);
    border: 1px solid var(--color-text);
}
.backmodal-btn:hover {
    border: 1px solid var(--color-text);
    background-color: var(--color-text);
    color: var(--color-bg);
}
.apply-conf-btn{
    color: var(--color-bg);
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
}
.apply-conf-btn:hover{
    border: 1px solid var(--color-main);
    background-color: var(--color-bg);
    color: var(--color-main);
}
.delete-conf-btn{
    color: var(--color-bg);
    background-color: var(--color-warning);
    border: 1px solid var(--color-warning);
}
.delete-conf-btn:hover{
    border: 1px solid var(--color-warning);
    background-color: var(--color-bg);
    color: var(--color-warning);
}
