/* メインコンテナ */
.notice-container {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* 検索ボックスエリア */
.search-area {
  border: 1px solid #8B8B8B;
  border-radius: var(--control-radius);
}

/* 入力エリアの幅調整 (タイトル・公開期間) */
.input-group {
  width: 40%;
}

/* テキストボックスの高さ・幅強制上書き */
.custom-input {
  height: 2.5rem;
}

.custom-input-full {
  height: 2.5rem ;
  width: 100%;
}

/* 検索ボタン */
.search-btn {
  height: 2.5rem;
}

.all-select{
    background-color: #F9FAFB;
}
.choice-btn{
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: none;
    border: 1px solid var(--color-sub);
}

.table-head {
  background-color: var(--color-main);
  font-size: var(--font-size-base);
  color: var(--color-bg);
  border: 1px solid var(--color-main);
}
