.home-main {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.event-title {
  font-size: var(--font-size-h1);
  margin: 0;
}

.event-container {
  border: 1px solid var(--color-main);
}

.event-name {
  font-size: var(--font-size-h1);
  color: var(--color-text);
}

.event-status {
  color: #1E40AF;
  background-color: #DBEAFE;
}

.up-arrow {
    color: var(--color-main);
    /* margin: 0 0 0 30.4rem; */
}
.event-condition-circle-now {
    color: var(--color-main);
    margin: auto;
}
.event-condition-circle-future {
    color: var(--color-sub);
    margin: auto;
}

progress {
  -webkit-appearance: none; /* -webkit- 用: プログレスバーのスタイルをリセット */
  -moz-appearance: none;    /* -moz- 用: プログレスバーのスタイルをリセット */
  background-color: var(--color-sub); /* -moz- 用: プログレスバーの背景色 */
}
::-webkit-progress-bar {
  background-color: var(--color-sub); /* -webkit- 用: プログレスバーの背景色 */
}
::-webkit-progress-value {
  background-color: var(--color-main); /* -webkit- 用: プログレスバーの進捗部分色 */
}
::-moz-progress-bar {
  background-color: var(--color-main); /* -moz- 用: プログレスバーの進捗部分色 */
}

.event-date {
  font-size: var(--font-size-base);
}
.event-date-now{
  color: var(--color-main);
  font-weight: bold;
}

.event-detail-btn{
  font-size: var(--font-size-h1);
}
.event-detail-btn:hover{
  color: var(--color-main);
  background-color: var(--color-bg);
  border: 1px solid var(--color-main);
}

.admin-card {
  border: 2px solid var(--color-main);
  border-radius: var(--control-radius);
}
.admin-card:hover{
  background-color: var(--color-main);
}

.admin-icon {
  background-color: var(--color-main);
  color: var(--color-bg);
}

.card-title {
  font-size: var(--font-size-h1);
  color: var(--color-text);
}

.card-description {
  color: var(--color-input-bg);
  font-size: var(--font-size-small);
}
