.custom-input{
  border: 1px solid var(--color-admin-sub);
}
.detail-text{
  font-size:0.8rem;
  color: var(--color-admin-sub);
}
.back-btn,
.register-btn {
  font-size: var(--font-size-h1);
  box-shadow: none;
}
.preview-close-btn{
  background-color: transparent;
  box-shadow: none;
  color: var(--color-text);
}
.upload-preview{
  background-color: var(--color-main);
}
.upload-modal{
  background-color: rgba(0, 0, 0, 0.4);
}
.close-btn{
  background-color: var(--color-bg);
  color: var(--color-text);
  box-shadow: none;
  font-size: var(--font-size-h1);
}
