.custom-input{
  border: 1px solid var(--color-admin-sub);
}
.detail-text{
  font-size:0.8rem;
  color: var(--color-admin-sub);
}
#remarks{
    height: 6rem;
}
.back-btn,
.register-btn {
  font-size: var(--font-size-h1);
  box-shadow: none;
}
