/* メインコンテナ */
.users-container {
  background-color: var(--color-bg);
  color: var(--color-text);
}
details {
  border: 1px solid var(--color-main);
  border-radius: var(--control-radius);
}
summary {
  list-style-type: none;
  font-size: 20px;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .icon {
  transform: rotate(180deg);
}

/* 検索ボックスエリア */
.custom-input {
  box-sizing: border-box;
  width: 100%;
  max-width: 40rem;
  min-width: 12rem;
  height: 2.8rem;
}
.search-field {
  flex: 1 1;
  max-width: 40rem;
}
.age-input {
    width: 6rem;
}
.city-input {
  width: 7rem;
}
.account-input {
  width: 15rem;
}
.search-btn {
  width: 15rem;
  height: 2.5rem;
}


.user-table {
  border-collapse: collapse;
}
.table-head {
  background-color: var(--color-main);
  font-size: var(--font-size-base);
  color: var(--color-bg);
  border: 1px solid var(--color-main);
}
.user-table th,
.user-table td {
  border-bottom: 1px solid var(--color-input-bg);
}

.status-badge{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.active {
  color: #48885A;
  background-color: var(--color-admin-active-background);
  border-radius: var(--control-radius);
  font-weight: bold;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.disable {
  color: #828848;
  background-color: var(--color-admin-disable-background);
  border-radius: var(--control-radius);
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ban {
  color: #884849;
  background-color: var(--color-admin-ban-background);
  border-radius: var(--control-radius);
  font-weight: bold;
  padding-left: 1.9rem;
  padding-right: 1.9rem;
}
.users-record:hover {
  background-color: var(--color-input-text);
}

.page-section {
  gap: 1rem;

}
.page-section .page-number {
  font-size: var(--font-size-h1);
  background-color: var(--color-bg);
  border-radius: var(--control-radius);
  color: var(--color-admin-sub);
}
.page-section .page-number:hover {
  font-size: var(--font-size-h1);
  background-color: var(--color-main);
  border-radius: var(--control-radius);
  color: var(--color-bg);
}
.page-section .page-number.active {
  background-color: var(--color-main);
  color: var(--color-bg);
}
.page-arrow {
  color: var(--color-admin-sub);
}
