/* メインコンテナ */
.users-container {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* 検索ボックスエリア */
.search-area {
  border: 1px solid #8B8B8B;
  border-radius: var(--control-radius);
}

.custom-input {
    height: 2.8rem;
    width: 17rem;
}
.age-input {
    width: 6rem;
}
.city-input {
  width: 7rem;
}
.account-input {
  width: 15rem;
}
.search-btn {
  width: 15rem;
  font-size: var(--page-padding-lg);
}


.user-table {
  border-collapse: collapse;
}
.table-head {
  background-color: var(--color-main);
  font-size: var(--font-size-base);
  color: var(--color-bg);
  border: 1px solid var(--color-main);
}
.user-table th,
.user-table td {
  border-bottom: 1px solid var(--color-input-bg);
}

.active {
  color: #48885A;
  background-color: #71F486;
  border-radius: var(--control-radius);
}
.disable {
  color: #828848;
  background-color: #F4F471;
  border-radius: var(--control-radius);
}
.ban {
  color: #884849;
  background-color: #F47171;
  border-radius: var(--control-radius);
}
.users-record:hover {
  background-color: var(--color-input-text);
}

.page-section {
  gap: 1rem;

}
.page-section .page-number {
  font-size: var(--font-size-h1);
  background-color: var(--color-bg);
  border-radius: var(--control-radius);
  color: var(--color-sub);
}
.page-section .page-number:hover {
  font-size: var(--font-size-h1);
  background-color: var(--color-main);
  border-radius: var(--control-radius);
  color: var(--color-bg);
}
.page-section .page-number.active {
  background-color: var(--color-main);
  color: var(--color-bg);
}
.page-arrow {
  color: var(--color-sub);
}
